body{
  background-image:url(./wall12.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding:5px;
  background-color: rgba(0, 0, 0, 0.925);
}

.myhead{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    height: 20vh;
    min-height: 100px;
    
}
.myhead h1{
    color:white;
    font-size: 3pc;
    padding:10px;
    /* border: 2px solid black; */
    border-radius: 2ch;
    text-shadow: 2px 2px 3px black;
    background-image: linear-gradient(to right,rgb(0, 255, 234), rgb(68, 0, 255));
}
.myhead nav a{
    text-shadow: 2px 2px 3px black;
    font-size: 1.5pc;
    color: white;
    padding: 8px;
    justify-content: space-evenly;
    border:1.5px solid rgba(255, 255, 255, 0.479);
    border-radius: inherit;
    text-decoration: none ;
}
.myhead nav a:hover ,.box1 button:hover{
    background-color: whitesmoke;
    color: black;
    text-shadow: 2px 2px 10px black;
}
.box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box1 h1{
    font-size: 5pc; 
    color:blanchedalmond;
    padding: 10px;
    border-radius: 2pc;
    background-color: rgba(255, 255, 255, 0.479);
}
.inputbox{
    height: 3pc;
    border-radius: 1pc;
}
.box1 button{
    font-size: 1.6pc;
    color: wheat;
    text-shadow: 2px 2px 10px black;
    background-color: rgba(255, 50, 255, 0.479);
    border-radius: 2pc;
     line-height: 3pc;
}
.lastbox{
    margin-top: 40px;
    font-size: 1.5pc;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;
}
